@font-face {
    font-family: 'Candara';
    src: url('../fonts/novo/Candara.eot');
    src: url('../fonts/novo/Candara.eot?#iefix') format('embedded-opentype'), url('../fonts/novo/Candara.svg#Candara') format('svg'), url('../fonts/novo/Candara.ttf') format('truetype'), url('../fonts/novo/Candara.woff') format('woff'), url('../fonts/novo/Candara.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Candara-Bold';
    src: url('../fonts/novo/Candara-Bold.svg#Candara-Bold') format('svg'), url('../fonts/novo/Candara-Bold.ttf') format('truetype'), url('../fonts/novo/Candara-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SitkaBanner';
    src: url('../fonts/novo/SitkaBanner.eot');
    src: url('../fonts/novo/SitkaBanner.eot?#iefix') format('embedded-opentype'), url('../fonts/novo/SitkaBanner.svg#SitkaBanner') format('svg'), url('../fonts/novo/SitkaBanner.ttf') format('truetype'), url('../fonts/novo/SitkaBanner.woff') format('woff'), url('../fonts/novo/SitkaBanner.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SitkaDisplay';
    src: url('../fonts/novo/SitkaDisplay.eot');
    src: url('../fonts/novo/SitkaDisplay.eot?#iefix') format('embedded-opentype'), url('../fonts/novo/SitkaDisplay.svg#SitkaDisplay') format('svg'), url('../fonts/novo/SitkaDisplay.ttf') format('truetype'), url('../fonts/novo/SitkaDisplay.woff') format('woff'), url('../fonts/novo/SitkaDisplay.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vigrand-Reg-Rough';
    src: url('../fonts/novo/Vigrand-Reg-Rough.eot');
    src: url('../fonts/novo/Vigrand-Reg-Rough.eot?#iefix') format('embedded-opentype'), url('../fonts/novo/Vigrand-Reg-Rough.svg#Vigrand-Reg-Rough') format('svg'), url('../fonts/novo/Vigrand-Reg-Rough.ttf') format('truetype'), url('../fonts/novo/Vigrand-Reg-Rough.woff') format('woff'), url('../fonts/novo/Vigrand-Reg-Rough.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WonderBoys';
    src: url('../fonts/novo/WonderBoys.svg#WonderBoys') format('svg'), url('../fonts/novo/WonderBoys.ttf') format('truetype'), url('../fonts/novo/WonderBoys.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'microsoft-new-tai-lue-2';
    src: url('../fonts/novo/microsoft-new-tai-lue-2.eot');
    src: url('../fonts/novo/microsoft-new-tai-lue-2.eot?#iefix') format('embedded-opentype'), url('../fonts/novo/microsoft-new-tai-lue-2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Insanibc';
    src: url('../fonts/novo/Insanibc.eot');
    src: url('../fonts/novo/Insanibc.eot?#iefix') format('embedded-opentype'), url('../fonts/novo/Insanibc.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'berlinsans';
    src: url('../fonts/novo/berlinsans.eot');
    src: url('../fonts/novo/berlinsans.eot?#iefix') format('embedded-opentype'), url('../fonts/novo/berlinsans.svg#berlinsans') format('svg'), url('../fonts/novo/berlinsans.ttf') format('truetype'), url('../fonts/novo/berlinsans.woff') format('woff'), url('../fonts/novo/berlinsans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Impact';
    src: url('../fonts/novo/Impact.svg#Impact') format('svg'), url('../fonts/novo/Impact.ttf') format('truetype'), url('../fonts/novo/Impact.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bg-primeiro h3 {
    font-family: 'Insanibc';
    color: #151515;
    z-index: 1;
}

.bg-primeiro h3.one {
    font-size: 236px;
    bottom: 0;
    line-height: 0;
    text-align: left;
    position: relative;
    left: -29px;
}

.bg-primeiro h3.two {
    right: -65px;
    font-size: 183px;
    top: 0;
    position: relative;
    text-align: right;
}

.bg-segunda h3 {
    font-family: 'Insanibc';
    color: #151515;
    z-index: 1;
}

.bg-segunda h3.one {
    font-size: 236px;
    bottom: 0;
    line-height: 0;
    text-align: left;
    position: relative;
    left: -228px;
    top: 320px;
    transform: rotate(46deg);
}

.bg-segunda h3.two {
    right: 6px;
    font-size: 183px;
    top: -116px;
    position: relative;
    text-align: right;
}

.sem-espaco {
    padding: 0;
    margin: 0
}

.logo {
    padding-top: 35px;
}

.navbar-default {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'microsoft-new-tai-lue-2';
    font-size: 17px;
    font-weight: 500;
}

.navbar-nav {
    float: right;
    padding: 65px 45px 0 0px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover:after {
    content: ".";
    font-size: 255px;
    position: absolute;
    color: #ff0048;
    left: 0;
    right: 0;
    text-align: center;
    margin: -59px 0 0 0;
    height: 151px;
    z-index: -1;
    -webkit-animation-name: ef-pulse-grow;
    animation-name: ef-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.8s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.regular .slick-dots {
    bottom: 57px !important;
    z-index: 1;
    font-family: 'WonderBoys';
}

.regular .slick-dots li button:before {
    font-size: 20px !important;
    color: #FFFFFF !important;
    opacity: 1 !important;
}

.regular .slick-dots li a {
    color: #2b2b2b;
    font-size: 24px;
    text-decoration: none;
}

.regular .slick-dots li.slick-active a {
    color: #ff0048;
    font-size: 32px;
}

.regular .slick-dots li a:after {
    content: ".";
}

.regular.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.box-slide h2 {
    font-family: 'Candara-Bold';
    font-size: 59px;
    letter-spacing: 17px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin-left: -45px;
}

.box-slide p {
    font-size: 49px;
    color: #ff0048;
    text-align: center;
    font-family: 'Vigrand-Reg-Rough';
    line-height: 80px;
    margin-top: -36px;
    margin-left: -78px;
}

.box-slide .efeitos h3.one {
    font-size: 97px;
    line-height: 0;
    text-align: left;
    position: relative;
    left: 50%;
    margin-left: -468px;
    font-family: 'Insanibc';
    margin-top: -302px;
}

/*-*/

.box-slide .efeitos h3.three {
    font-size: 104px;
    line-height: 0;
    text-align: left;
    position: relative;
    left: 50%;
    font-family: 'Insanibc';
    margin-top: 87px;
    margin-left: -568px;
}

/*+*/

.box-slide .efeitos h3.two {
    font-size: 104px;
    line-height: 0;
    text-align: right;
    position: absolute;
    right: 50%;
    font-family: 'Insanibc';
    bottom: 26%;
    margin-right: -409px;
}

/*x*/

.box-slide .efeitos h3.four {
    font-size: 57px;
    line-height: 0;
    text-align: right;
    position: absolute;
    right: 50%;
    bottom: 34%;
    font-family: 'Insanibc';
    margin-right: -496px;
}

/*o*/

@media(min-width: 1200px) and (max-width: 1600px) {
    .box-slide .efeitos h3.one {
        font-size: 65px;
        margin-top: -211px;
    }
    .box-slide .efeitos h3.three {
        font-size: 65px;
        margin-top: 68px;
    }
    .box-slide .efeitos h3.two {
        font-size: 65px;
        margin-top: -219px;
    }
    .box-slide .efeitos h3.four {
        font-size: 40px;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    .box-slide .efeitos h3.one {
        font-size: 65px;
        margin-top: -199px;
        margin-left: -365px;
    }
    .box-slide .efeitos h3.three {
        font-size: 65px;
        margin-top: 49px;
        margin-left: -425px;
    }
    .box-slide .efeitos h3.two {
        font-size: 65px;
        margin-top: -219px;
        margin-right: -382px;
    }
    .box-slide .efeitos h3.four {
        font-size: 40px;
        margin-right: -434px;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .box-slide .efeitos h3.one {
        font-size: 40px;
        margin-top: -157px;
        margin-left: -263px;
    }
    .box-slide .efeitos h3.three {
        font-size: 40px;
        margin-top: 35px;
        margin-left: -300px;
    }
    .box-slide .efeitos h3.two {
        font-size: 40px;
        margin-right: -217px;
        bottom: 30%;
    }
    .box-slide .efeitos h3.four {
        font-size: 25px;
        margin-right: -258px;
        bottom: 35%;
    }
}

@media(min-width: 0px) and (max-width: 767px) {
    .box-slide .efeitos h3.one {
        font-size: 40px;
        margin-top: -176px;
        margin-left: -80px;
    }
    .box-slide .efeitos h3.three {
        font-size: 40px;
        margin-top: 35px;
        margin-left: -129px;
    }
    .box-slide .efeitos h3.two {
        font-size: 40px;
        margin-right: -81px;
        bottom: 27%;
    }
    .box-slide .efeitos h3.four {
        font-size: 25px;
        margin-right: -127px;
        bottom: 34%;
    }
}

.box-slide p span.ou {
    font-family: 'Candara';
    font-size: 47px;
    color: white;
}

@media(min-width: 0px) and (max-width: 767px) {
    .box-slide p span.ou {
        font-size: 20px;
    }
}

.box-slide p span.pergunta {
    font-family: 'SitkaBanner';
    font-size: 125px;
    position: absolute;
    top: -28px;
    margin-left: 20px;
    -webkit-animation-name: ef-pulse-grow;
    animation-name: ef-pulse-grow;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    transform: scaleY(1.3);
}

@media(min-width: 0px) and (max-width: 767px) {
    .box-slide p span.pergunta {
        font-size: 35px;
        margin-left: 4px;
        top: -5px;
    }
}

.experiencia-data.primeiro {
    margin-top: 52px
}

.experiencia-texto.primeiro {
    padding-top: 88px
}

.i-am-centered {
    margin: auto;
    max-width: 78%;
}

li.slide-conhecimento-box {
    height: 209px !important;
}

.box-slide {
    padding: 411px 0 0 0px;
    height: 100vh !important;
}

@media(min-width: 1200px) and (max-width: 1600px) {
    .box-slide {
        height: 704px !important;
        padding: 286px 0 0 0px;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    .box-slide {
        height: 600px !important;
        padding: 286px 0 0 0px;
    }
}

@media(min-width: 0px) and (max-width: 767px) {
    .box-slide {
        height: 480px !important;
    }
}

@-webkit-keyframes ef-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes ef-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.servicos-secao {
    padding: 40px 0;
    z-index: 12;
    position: relative;
}

.servicos-secao h2 {
    font-family: 'microsoft-new-tai-lue-2';
    text-align: center;
    font-weight: 900;
    color: #151515;
    font-size: 32px;
    line-height: 18px;
    height: 48px;
    margin: 40px 0 40px 0;
}

.segunda-secao {
    padding: 40px 0;
    z-index: 12;
    position: relative;
}

.segunda-secao h2 {
    font-family: 'microsoft-new-tai-lue-2';
    text-align: center;
    font-weight: 900;
    color: #151515;
    font-size: 32px;
    line-height: 18px;
    height: 48px;
    margin: 40px 0 40px 0;
}

.segunda-secao h2 span {
    color: #dddddd;
    font-size: 40px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}

.segunda-secao h2 span.color {
    color: #ff0048;
    font-size: 32px;
    position: relative;
    z-index: 0;
}

.txt-fundo {
    font-size: 250px;
    position: absolute;
    line-height: 249px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f6f6f6;
    color: #f6f6f6;
    font-family: 'Impact';
    padding-left: 23px;
    letter-spacing: 12px;
    margin-top: -24px;
}

.design-slider-for .box, .desen-slider-for .box {
    background: #000000;
    height: 645px;
}

.design-slider-for .box:hover p, .desen-slider-for .box:hover p {
    display: block;
    cursor: pointer;
}

.design-slider-for .box p, .desen-slider-for .box p {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    height: 37px;
    color: white;
    font-size: 26px;
    margin: 44% 0;
}

.design-slider-for .box p svg, .desen-slider-for .box p svg {
    width: 52px;
    position: absolute;
    height: 52px;
    margin-left: -57px;
}

.design-slider-for .box img, .desen-slider-for .box img {
    opacity: 0.1;
    display: block;
    filter: grayscale(1);
    object-fit: cover;
    height: inherit;
    width: 100%;
    -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}

.design-slider-for .box:hover img, .desen-slider-for .box:hover img {
    opacity: 0.1;
    display: block;
    filter: inherit;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.design-slider-nav.slick-initialized.slick-slider,
.desen-slider-nav.slick-initialized.slick-slider {
    margin-left: -100px;
    margin-top: 384px;
}

.design-slider-nav .box .bg,
.desen-slider-nav .box .bg {
    height: 189px;
    background: #000000;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.design-slider-nav .box p ,
.desen-slider-nav .box p {
    font-family: 'berlinsans';
    color: #757575;
    text-align: right;
    font-weight: 900;
    font-size: 24px;
}

.design-slider-nav .box p span,
.desen-slider-nav .box p span {
    color: #ff0048;
    font-size: 33px;
}

.design-slider-nav .box,
.desen-slider-nav .box {
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
}

.design-slider-nav .box .bg img,
.desen-slider-nav .box .bg img {
    height: 190px;
    width: 100% !important;
    opacity: 0.2;
    display: block;
    filter: grayscale(1);
    object-fit: cover;
    opacity: 0.2;
    display: block;
    filter: grayscale(1);
    object-fit: cover;
    height: inherit;
    width: 100%;
    -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}

.design-slider-nav .box:hover .bg img,
.desen-slider-nav .box:hover .bg img {
    opacity: 0.3;
    display: block;
    filter: inherit;
    opacity: 0.1;
    display: block;
    filter: inherit;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.design-slider-nav .slick-list.draggable,
.desen-slider-nav .slick-list.draggable {
    padding: 0 !important;
}

.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.object-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: none;
    justify-content: center;
    z-index: 2;
}

.speed-1 {
    transform: translateZ(-1px) scale(2);
}

.speed-2 {
    transform: translateZ(-2px) scale(3);
}

.speed-3 {
    transform: translateZ(-3px) scale(4);
}

.speed-4 {
    transform: translateZ(-4px) scale(5);
}

.speed-5 {
    transform: translateZ(-5px) scale(6);
}

.speed-6 {
    transform: translateZ(-6px) scale(7);
}

.object {
    height: 100vh;
    width: 100%;
}

.object-1 {
    margin-top: 100vh;
}

.object-2 {
    margin-top: 150vh;
    /* background: yellow; */
}

.terceira-secao {
    padding: 40px 0;
    z-index: 12;
    position: relative;
}

.terceira-secao h2 {
    font-family: 'microsoft-new-tai-lue-2';
    text-align: center;
    font-weight: 900;
    color: #151515;
    font-size: 32px;
    line-height: 18px;
    height: 48px;
    margin: 40px 0 40px 0;
}

.terceira-secao h2 span {
    color: #dddddd;
    font-size: 40px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}

.terceira-secao h2 span.color {
    color: #ff0048;
    font-size: 32px;
    position: relative;
    z-index: 0;
}

.quarta-secao {
    padding: 50px 0 0 0;
    position: relative;
    z-index: 3;
}

.quarta-secao h2 {
    font-family: 'microsoft-new-tai-lue-2';
    text-align: right;
    font-weight: 900;
    color: #ffffff;
    font-size: 32px;
    line-height: 25px;
    height: 48px;
    margin: 40px 0 40px 0;
    text-transform: uppercase;
}

.quarta-secao h2 span {
    color: #ffffff1f;
    font-size: 40px;
    z-index: -1;
}

.bg-contato-left {
    background: url("../img/bg-contato-left.jpg");
    height: 91vh;
    background-size: cover;
    margin: 29px 0 0 0;
}

.bg-contato-right {
    background-color: #d2003b;
    height: 94vh;
    padding-right: 16%;
    padding-top: 53px;
}

.bg-contato-right p {
    color: white;
    font-family: 'microsoft-new-tai-lue-2';
    font-size: 19px;
    text-align: right;
    margin: 0 0 7px 0;
}

.bg-contato-right ul {
    padding: 0;
    height: 67px;
    width: 100%;
    float: right;
    margin-bottom: 36px;
    margin-top: 20px;
}

.bg-contato-right ul li {
    list-style: none;
    float: right;
    margin: 10px 5px;
}

.bg-contato-right ul li .icon-facebook {
    background: url("../img/icon-facebook.png");
    width: 50px;
    height: 50px;
    float: left;
}

.bg-contato-right ul li .icon-instagram {
    background: url("../img/icon-instagram.png");
    width: 50px;
    height: 50px;
    float: left;
}

.bg-contato-right ul li .icon-git {
    background: url("../img/icon-git.png");
    width: 50px;
    height: 50px;
    float: left;
}

.bg-contato-right img {
    float: right;
}

.line, .line2, .line3, .line4 {
    position: absolute;
    background: white;
}

.line {
    display: block;
    width: 40%;
    height: 3px;
    margin-top: 70px;
    left: 0;
    z-index: 1;
    margin-left: 10%;
}

.line2 {
    display: block;
    width: 3px;
    height: 73vh;
    margin-top: 70px;
    left: 0;
    z-index: 1;
    margin-left: 10%;
}

.line3 {
    display: block;
    width: 80%;
    height: 3px;
    margin-top: 40.8%;
    left: 0;
    z-index: 1;
    margin-left: 10%;
}

.line4 {
    display: block;
    width: 3px;
    height: 84vh;
    margin-top: 0;
    right: 0;
    z-index: 1;
    margin-right: 10%;
}

.slide-servicos {
    background: url("../img/bg-servicos.jpg") bottom no-repeat;
    width: 100%;
    height: 570px;
    background-size: 100%;
}

.slide-servicos .slick-dots {
    bottom: 65px !important;
    z-index: 23;
    font-family: 'WonderBoys';
}

.slide-servicos .slick-dots li button:before {
    font-size: 20px !important;
    color: #FFFFFF !important;
    opacity: 1 !important;
}

.slide-servicos .slick-dots li a {
    color: #2b2b2b;
    font-size: 24px;
    text-decoration: none;
}

.slide-servicos .slick-dots li.slick-active a {
    color: #ff0048;
    font-size: 32px;
}

.slide-servicos .slick-dots li a:after {
    content: ".";
}

.slide-servicos.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.box-servicos {
    background: #f0f0f0;
    margin: 0 20px;
}

.box-servicos.slick-slide.slick-current.slick-active.slick-center {
    transform: scale(1, 1);
    padding: 37px 0;
}

.box-servicos.slick-slide {
    width: 560px;
    height: 420px;
    transform: scale(0.8, 0.8);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.box-servicos h2 {
    color: #5b5b5b;
    font-family: 'microsoft-new-tai-lue-2';
    font-size: 23px;
    line-height: 48px;
}

.box-servicos p {
    color: #5b5b5b;
    font-family: 'microsoft-new-tai-lue-2';
    font-size: 19px;
    text-align: center;
}

.box-servicos button {
    color: #5b5b5b;
    text-align: center;
    border: 2px solid #5b5b5b;
    padding: 8px 32px;
    border-radius: 66px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 147px;
    left: 0;
    right: 0;
    margin-top: 27px;
}

/* Hamburger Menu */

.McButton {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -22px;
    margin-top: -22px;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.McButton div {
    position: absolute;
    left: 0;
    width: 29px;
    height: 3px;
    background-color: white;
}

.McButton div:nth-child(1) {
    top: 0;
}

.McButton div:nth-child(2) {
    top: 50%;
}

.McButton div:nth-child(3) {
    top: 100%;
}

button.navbar-toggle.collapsed, .navbar-default .navbar-toggle {
    border: none;
}

/* McButton */

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: transparent !important;
}

.collapse {
    transition: height 0.01s;
}

.navbar-nav{
    border: none;
}

.bg-menu{
    transition: 1s;
    background: #2b2b2b;
}
.bg-menu2{
    transition: 2s;
    background: #0a0a0a;
}
.bg-menu3{
    transition: 3s;
    background: #ff0048;
}

.bg-menu,
.bg-menu2,
.bg-menu3 {
    width: 100%;
    height: 1px;
    margin: 0 auto;
    display: block;
    border-radius: 0;
    z-index: -2;
    position: absolute;
    transition: 2s;
    top: 0;
    right: 0;
    left: 0;
}

.navbar-collapse.in .bg-menu{
    transition: height 2s;
    height: 96vh;
}
.navbar-collapse.in .bg-menu2{
    transition: height 3;
    height: 88vh;
    z-index: -1;
} 
.navbar-collapse.in .bg-menu3{
    transition: height 1s;
    height: 100vh;
}

.navbar-collapse.in .bg-menu,
.navbar-collapse.in .bg-menu2, 
.navbar-collapse.in .bg-menu3 {
    width: 100%;
    border-radius: 0;
    margin-right: 0;
    top: 0px;
    left: 0;
    right: 0px;
}

 
